.app {
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  min-height: 100vh;
}

/* @media screen and (min-width: 768px) {
  .navbar ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
  }
} */
@media screen and (min-width: 768px) {
  .app {
    display: grid;
    grid-template-columns: [start] 250px [col-1-end] 1fr [end];
    grid-template-rows: [start] auto [row-1-end] 1fr [row-2-end] auto [end];
  }
  .sidebar {
    grid-column: start/col-1-end;
    grid-row: start/end;
  }
  .navbar {
    grid-column: col-1-end/end;
    grid-row: start/row-1-end;
  }
  .dashboard {
    grid-column: col-1-end/-end;
    grid-row: row-1-end/row-2end;
  }
  .create {
    grid-column: col-1-end/-end;
    grid-row: row-1-end/row-2end;
  }
  .footer {
    grid-column: col-1-end/end;
    grid-row: row-2-end/end;
  }
  /* .navbar ul {
    grid-template-columns: 1fr;
    min-height: 100%;
    align-items: center;
  }
  .sidebar {
    grid-template-columns: 1fr;
    align-items: center;
    background: var(--darkGrey);
  } */
}
